VITE_walletWasmHash="ecd990f0b45ca6817149b6175f79b32efb442f35731985a084131e8265c4cd90"
VITE_nativeContractId="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
VITE_networkPassphrase="Test SDF Network ; September 2015"
VITE_rpcUrl="https://soroban-testnet.stellar.org"
VITE_relayerUrl="https://channels.openzeppelin.com/testnet"
VITE_relayerApiKey="???"
VITE_mercuryProjectName="smart-wallets-next-dima"
VITE_mercuryUrl="https://api.mercurydata.app"
VITE_mercuryJwt="???"
# or VITE_mercuryKey="???"
