VITE_factoryContractId="CCPLERXCJZB7LX2VOSOCBNRN754FRLHI6Y2AVOQBA5L7C2ZJX5RFVVET"
VITE_nativeContractId="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
VITE_networkPassphrase="Test SDF Network ; September 2015"
VITE_rpcUrl="https://soroban-testnet.stellar.org"
VITE_launchtubeUrl="https://launchtube.sdf-ecosystem.workers.dev"
VITE_launchtubeJwt="???"
VITE_mercuryUrl="https://api.mercurydata.app"
VITE_mercuryJwt="???"