name: Contract Release

on:
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Unique release name'
        required: true
        type: string

permissions:
  contents: write

jobs:

  release-contract-webauthn-factory:
    uses: kalepail/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name }}
      release_description: 'Release of the factory contract'
      relative_path: 'contracts'
      package: 'webauthn-factory'
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}

  release-contract-webauthn-secp256r1:
      uses: kalepail/soroban-build-workflow/.github/workflows/release.yml@main
      with:
        release_name: ${{ github.ref_name }}
        release_description: 'Release of the secp256r1 contract'
        relative_path: 'contracts'
        package: 'webauthn-secp256r1'
      secrets:
        release_token: ${{ secrets.GITHUB_TOKEN }}
