name: Contract Release

on:
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Unique release name'
        required: true
        type: string

# on:
#   push:
#     tags:
#       - 'v*'

jobs:

  release-contract-webauthn-factory:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name }}
      release_description: 'Release of the factory contract'
      relative_path: '["contracts/contract-webauthn-factory"]'
      package: 'webauthn-factory'
      # make_target: 'build-dependencies'
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}

  release-contract-webauthn-secp256r1:
      uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
      with:
        release_name: ${{ github.ref_name }}
        release_description: 'Release of the secp256r1 contract'
        relative_path: '["contracts/contract-webauthn-secp256r1"]'
        package: 'webauthn-secp256r1'
        # make_target: 'build-dependencies'
      secrets:
        release_token: ${{ secrets.GITHUB_TOKEN }}